<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}


</head>
<body class="home">
<div class="wrapper">
<!-- header -->
{{> header }}

<!-- home panel -->
{{> home-hero }}

<!-- body -->
{{> home-carousel }}

<!-- features -->
{{> home-features }}
<div class="push"></div>
<!-- footer -->
{{> footer }}
</div>
<!-- javascript -->
{{> javascripts }}
		
</body>
</html>
