<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}


</head>
<body class="home">
<div class="wrapper">
<!-- header -->
{{> header }}

<!-- home panel -->
{{> home-hero }}

<!-- body -->
{{> home-carousel }}

<!-- features -->
<div class="container" id="features">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      {{> home-features }}
    </div>
  </div>
</div>
<div class="push"></div>
<!-- footer -->
{{> footer }}
</div>
<!-- javascript -->
{{> javascripts }}
		
</body>
</html>
