---
title: Basic Demo
subTitle: Basic
nav: demos
description: Basic usage demo
sort: 1

tags: 
- demo
---

<div id="demoSlider" class="mbslider">
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
</div>

{{#markdown }}

### Setup
```
$(document).ready(function(){
  $('#demoSlider').mbSlider();
});
```
### HTML
```
<div id="demoSlider" class="mbslider">
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
	<div class="item"><img src="https://unsplash.it/1280/720?random"></div>
</div>
```

{{/markdown }}
