---
title: Shrink Items Demo
subTitle: Shrink
description: Shrink Items usage demo
sort: 11

tags: 
- demo
---

<h1>Shrink Items</h1>

<p>This option causes a carousel to only show whole slides.</p>

<h2>With shrinkItems set to true</h2>
<div id="demoSlider1" class="mbslider">
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
</div>

<h2>With shrinkItems set to false</h2>
<div id="demoSlider2" class="mbslider">
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
</div>

<h4>JS:</h4>
{{#markdown }}
```$(document).ready(function(){
  $('#demoSlider').mbSlider({
    slideWidth: 350,
    minSlides: 2,
    maxSlides: 3,
    slideMargin: 10,
    shrinkItems: true
  });
});
```

<h4>HTML:</h4>
```
<div id="demoSlider" class="mbslider">
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="slide"><img src="https://unsplash.it/1280/720?random"></div>
</div>
```
{{/markdown}}
