---
title: Touch Demo
subTitle: Touch
description: Touch usage demo
sort: 12

tags: 
- demo
---

<h1>Touch</h1>

<p>This demonstrates some of the touch features.</p>

<div id="demoSlider" class="mbslider">
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
</div>

<h4>JS:</h4>
{{#markdown }}
```$(document).ready(function(){
  $('#demoSlider').mbSlider({
    preventDefaultSwipeX: true
  });
});
```

<h4>HTML:</h4>
```
<div id="demoSlider" class="mbslider">
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
  <div class="item"><img src="https://unsplash.it/1280/720?random"></div>
</div>
```
{{/markdown}}
