/** THEME
===================================*/

.mb-wrapper {
//  -moz-box-shadow: 0 0 5px #ccc;
//  -webkit-box-shadow: 0 0 5px #ccc;
//  box-shadow: 0 0 5px #ccc;
//  border: 5px solid #fff;
//  background: #fff;
  .mb-pager,
  .mb-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
}

/* IMAGE CAPTIONS */

.mb-wrapper .mb-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
  span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}
