<footer class="container-fluid footer down">
  <button class="close"><span>&times;</span></button>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="http://magiccms.org" target="_blank">
            <ul class="mbslider" id="footerBanner">
              <li class="">
                <h2><img class="img-responsive center-block animated bounceIn zoomOut" src="{{assets}}/img/LogoMagicCms.png" /></h2>
              </li>
              <li class="" data-pause="4500">
                <h2 class="text-center animated bounceInRight bounceOutLeft">The open source framework for developing CMS application in ASP.NET</h2>
              </li>
              <li class="" data-pause="4000">
                <ul class="list-inline text-center">
                  <li>
                    <h2 class="animated bounceInRight fadeOutDown"><big>Click me!</big></h2>
                  </li>
                  <li>
                    <h2 class="animated bounceInRight delayIn500 fadeOutDown"><big>Try me!</big></h2>
                  </li>
                  <li>
                    <h2 class="animated bounceInRight delayIn1000 fadeOutDown"><big>Share me!</big></h2>
                  </li>
                  <li>
                    <h2 class="animated bounceInRight delayIn1500 fadeOutDown"><big>I'm free!</big></h2>
                  </li>
                </ul>

              </li>
              <li class="">
                <h2 class="text-center animated rotateInBig rotateOutBig"><big>magiccms.org</big></h2>
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
