<div class="jumbotron theme-alt">
  <div class="container-fluid">
    <ul class="mbslider fade">
      <li id='slide_1' class="out">
        <h1><img alt="" class="img-responsive center-block animated delayOut1000 rotateInBig zoomOut" src="{{assets}}/img/LogoMbSlider_l.png" /></h1>
        <h3 class="text-center animated delayIn1000 bounceInRight fadeOutDown">Create animated presentations in minutes!</h3> </li>
      <li id='slide_2' class="out" data-pauseAfterIn="4000" data-pauseBeforeOut="5000" data-pause="5000">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <img alt="" class="img-responsive center-block animated rollIn rollOut delayOut3500" src="{{assets}}/img/conte-scontornato_L.png" />
            </div>
            <div class="col-sm-9">
              <ul>
                <li class="h2 animated delayIn1000 delayOut2000 bounceInRight hingeOut">
                  <big>Define timing for every slide</big>
                </li>
                <li class="h2 animated delayIn1500 delayOut1000 bounceInRight fadeOutDown"><big>Define in and out animations for every HTML element in the slide</big></li>
                <li class="h2 animated delayIn2000 bounceInRight fadeOutDown"><big>Fully responsive - will adapt to any device</big></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id='slide_3' class="out" data-pauseAfterIn="4000" data-pauseBeforeOut="5000" data-pause="5000">
        <div class="container">
          <div class="row">
            <div class="col-sm-9">
              <ul>
                <li class="h2 animated delayIn1000 delayOut2000 bounceInLeft hingeOut"><big>Slides can contain any HTML content</big></li>
                <li class="h2 animated delayIn1500 delayOut1000 bounceInLeft fadeOutDown"><big>Callback API and public methods</big></li>
                <li class="h2 animated delayIn2000 bounceInLeft fadeOutDown"><big>Support Modern Browser with fall back for ie8 and ie9.</big></li>
              </ul>
            </div>

            <div class="col-sm-3">
              <img alt="" class="img-responsive center-block animated rollInRight rollOutLeft delayOut3500 flippedY" src="{{assets}}/img/conte-scontornato-rotated.png" />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
