<section class="container" id="hero">
	<div class="row">
		<div class="col-md-8">
			<h1><big class="xstrong">mb<span class="light">Slider</span></big></h1>
			<h4>{{ tagline }}</h4>
			<a href="{{ pkg.homepage }}" class="btn btn-primary">Homepage</a> <a href="https://github.com/magicbruno/mbSlider" class="btn btn-primary">Github</a>
			<p class="sub-lead">Current Version: <span class="version">{{ pkg.version }}</span></p>
		</div>
	</div>
</section>
